*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.container-wide {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 50px;

	@include max-width($tablet) { 
		max-width: 1023px;
		padding: 0 23px;

	 }

	@include max-width($mobile) {
		max-width: 768px;
		padding: 0 18px;
	}
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 133px;
	position: relative;

	@include max-width($tablet) {
		max-width: 1023px;
		padding: 0 19px;
	}
	@include max-width($mobile) {
		max-width: 768px;
		padding: 0 20px;
		margin: 0 auto;
	 }
}

.cover-img {
	min-width: 1000%;
	min-height: 1000%;
	max-width: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
}