@font-face {
	font-family: 'Cordale';
	src: url('../assets/fonts/Cordale-Regular.eot') format('eot'),
	url('../assets/fonts/Cordale-Regular.woff') format('woff'),
	url('../assets/fonts/Cordale-Regular.ttf') format('truetype'),
	url('../assets/fonts/Cordale-Regular.svg') format('svg');
}
@font-face {
	font-family: 'John-Regular';
	src:
	url('../assets/fonts/JohnSansTextPro-Regular.eot') format('eot'),
	url('../assets/fonts/JohnSansTextPro-Regular.woff') format('woff'),
	url('../assets/fonts/JohnSansTextPro-Regular.ttf') format('truetype'),
	url('../assets/fonts/JohnSansTextPro-Regular.svg') format('svg');
}
@font-face {
	font-family: 'John-Bold';
	src: url('../assets/fonts/JohnSansTextPro-Bold.eot') format('eot'),
	url('../assets/fonts/JohnSansTextPro-Bold.woff') format('woff'),
	url('../assets/fonts/JohnSansTextPro-Bold.ttf') format('truetype'),
	url('../assets/fonts/JohnSansTextPro-Bold.svg') format('svg');
}