// Colors
$color-aqua: #008c8e;
$color-bg: #e6ebeb;
$color-grey: #666666;
$color-storm-dust: #636359;
$color-whisper: #e7e7e7;
$color-white: #ffffff;
$nav-grey: #555555;
$color-orange: #f15a22;
$color-line: #e0e0e0;
$color-purple: #ad1566;
// Fonts

// Breakpoints
$laptop: '1440px';
// $laptop-small: '1200px';
$tablet: '1023px';
$mobile: '767px';
// $mobile-small: '370px'